Домашнее задание "Визуализация данных в Python"

Построить 5 графиков по выбранным данным. 

Графики должны быть различных видов и использовать хотя бы 2 из рассмотренных на занятии библиотек. 

Для каждого описать, какого типа переменные участвуют в визуализации, какова её цель (например, посмотреть на корреляцию двух величин или на распределение значений) и почему выбрали именно такой тип графика.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import numpy as np

In [3]:
df_app = pd.read_csv('Google-Playstore-32K.csv')
df_app.head()

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034.0,"5,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671482,1207922.0,"100,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device
2,Peapod,SHOPPING,3.656329393,1967.0,"100,000+",1.4M,0,Everyone,"September 20, 2018",5.0 and up,2.2.0
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107232571,389154.0,"10,000,000+",16M,0,Everyone,"March 22, 2019",4.2 and up,4.18.2
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752285,2291.0,"10,000+",Varies with device,$5.99,Everyone,"April 1, 2019",Varies with device,Varies with device

In [6]:
df_app['Installs'].unique()

array(['5,000,000+', '100,000,000+', '100,000+', '10,000,000+', '10,000+',
       '1,000,000+', '50,000,000+', '500,000+', '50,000+', '5,000+',
       '1,000+', '500,000,000+', '1,000,000,000+', '5,000,000,000+',
       '100+', '500+', '50+', '5+', '10+', '1+', 'EDUCATION', '6',
       '11976', '0+'], dtype=object)

In [7]:
df_app = df_app.drop(np.where(df_app['Installs'] == 'EDUCATION')[0])

In [8]:
df_app[df_app['Rating']=='GAME_STRATEGY']

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version
13504,Never have I ever 18+,),GAME_STRATEGY,4.0,6,100+,2.4M,$0.99,Mature 17+,"December 30, 2018",4.0.3 and up

In [9]:
df_app = df_app.drop(np.where(df_app['Rating'] == 'GAME_STRATEGY')[0])

In [10]:
df_app['Installs'] = df_app['Installs'].str.replace('+', '')
df_app['Installs'] = df_app['Installs'].str.replace(',', '')
df_app['Installs'] = df_app.Installs.astype('int64')

In [11]:
df_app['Cost'] = df_app['Price'].apply(lambda x: 'Бесплатное' if x == '0' else 'Платное')

In [12]:
df_app.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31998 entries, 0 to 31999
Data columns (total 12 columns):
App Name           31998 non-null object
Category           31998 non-null object
Rating             31998 non-null object
Reviews            31998 non-null float64
Installs           31998 non-null int64
Size               31998 non-null object
Price              31998 non-null object
Content Rating     31998 non-null object
Last Updated       31998 non-null object
Minimum Version    31998 non-null object
Latest Version     31997 non-null object
Cost               31998 non-null object
dtypes: float64(1), int64(1), object(10)
memory usage: 3.2+ MB

In [13]:
# try:
#     df_app['Rating'] = df_app.Rating.astype('float64')
# except:
#     df_app['Rating'] = 4
df_app['Rating'] = df_app.Rating.astype('float64')
df_app.loc[(df_app['Rating'] < 2.5), 'Rating_class'] = 'Низкий'
df_app.loc[((df_app['Rating'] >= 2.5) & (df_app['Rating'] < 4)), 'Rating_class'] = 'Средний'
df_app.loc[(df_app['Rating'] >= 4), 'Rating_class'] = 'Высокий'

ValueError: could not convert string to float: 'GAME_STRATEGY'

In [14]:
df_app.head()

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version,Cost
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034.0,5000000,Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device,Бесплатное
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671482,1207922.0,100000000,Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device,Бесплатное
2,Peapod,SHOPPING,3.656329393,1967.0,100000,1.4M,0,Everyone,"September 20, 2018",5.0 and up,2.2.0,Бесплатное
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107232571,389154.0,10000000,16M,0,Everyone,"March 22, 2019",4.2 and up,4.18.2,Бесплатное
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752285,2291.0,10000,Varies with device,$5.99,Everyone,"April 1, 2019",Varies with device,Varies with device,Платное