Домашнее задание

Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 

Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [10]:
datafr = pd.read_csv('ratings.csv')
datafr.head(3)

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471

In [12]:
datafr[datafr['rating'] == 5.0][['movieId']].value_counts().head(1)

318    48762
Name: movieId, dtype: int64

Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [2]:
datafr_power = pd.read_csv('power.csv')
datafr_power.head(3)

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1

In [3]:
datafr_power[((datafr_power['country'] == 'Latvia') | (datafr_power['country'] == 'Estonia') | (datafr_power['country'] == 'Lithuania'))
                & ((datafr_power['year']<=2010) & (datafr_power['year']>=2005))
                & ((datafr_power['category'] == 4) | (datafr_power['category'] == 12) | (datafr_power['category'] == 21))
            & ((datafr_power['quantity'] > 0))]['quantity'].sum()

240580.0

In [4]:
#КОРОТКАЯ ЗАПИСЬ С ПОМОЩЬЮ МЕТОДА ISIN
datafr_power[(datafr_power['country'].isin(['Latvia', 'Estonia', 'Lithuania']))
                & ((datafr_power['year']<=2010) & (datafr_power['year']>=2005))
                & ((datafr_power['category'] == 4) | (datafr_power['category'] == 12) | (datafr_power['category'] == 21))
            & ((datafr_power['quantity'] > 0))]['quantity'].sum()

240580.0

Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

In [41]:
pd.read_html('https://fortrader.org/quotes')[0]

                               Type    Last   Chg.  Chg.%  Time
0  Нефть (BRENT) Курс нефти сегодня  58.650  0.020  0.030   NaN
1   Нефть (WTI) Цены на нефть (WTI)  53.110  0.060  0.110   NaN
2          Сахар котировки на сахар  12.630  0.000  0.000   NaN
3                   Газ Цена на газ   1.871 -0.002 -0.107   NaN

In [42]:
pd.read_html('https://fortrader.org/quotes')[1]

,Type,Last,Chg.,Chg.%,Time
0,ВТБ Акции ВТБ,0.04811,+0.000630,1.326874,NaN
1,Газпром Акции газпрома,238.01000,+5.99,2.580000,NaN
2,Лукойл Акции Лукойл,6620.50000,-17.5,-0.300000,NaN
3,Роснефть Акции Роснефти,475.05000,-5.90,-1.230000,NaN
4,Сбербанк Акции Сбербанка,265.39000,+6.02,2.320000,NaN
5,Сургутнефтегаз Акции Сургутнефтегаза,48.05500,+0.210,0.439000,NaN
6,Норникель Акции Норникель,21192.00000,-40,-0.000000,NaN
7,Аэрофлот Акции Аерофлота,114.76000,+6.86,6.360000,NaN
8,Северсталь Акции Северсталь,956.60000,+15.60,1.660000,NaN
9,Транснефть Акции транснефти,176700.00000,+10 400,6.000000,NaN
10,Ростелеком Курс акций ростелекома,86.25000,+13.42,18.430000,NaN
11,RUSAL акции RUSAL,4.23000,+0.07,1.680000,NaN